ZI_WCF_DarkoStosic16413/DarkoStosic_ZI/DarkoStosic_ZI/Connected Services/ServiceReference2/RSA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RSA" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65348/RSA.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65348/RSA.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRSA_Crypt_InputMessage">
    <wsdl:part name="parameters" element="tns:Crypt" />
  </wsdl:message>
  <wsdl:message name="IRSA_Crypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:CryptResponse" />
  </wsdl:message>
  <wsdl:message name="IRSA_Calculate_InputMessage">
    <wsdl:part name="parameters" element="tns:Calculate" />
  </wsdl:message>
  <wsdl:message name="IRSA_Calculate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateResponse" />
  </wsdl:message>
  <wsdl:message name="IRSA_Decrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:Decrypt" />
  </wsdl:message>
  <wsdl:message name="IRSA_Decrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptResponse" />
  </wsdl:message>
  <wsdl:message name="IRSA_GetMinimalDivider_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMinimalDivider" />
  </wsdl:message>
  <wsdl:message name="IRSA_GetMinimalDivider_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMinimalDividerResponse" />
  </wsdl:message>
  <wsdl:message name="IRSA_CryptBMP_InputMessage">
    <wsdl:part name="parameters" element="tns:CryptBMP" />
  </wsdl:message>
  <wsdl:message name="IRSA_CryptBMP_OutputMessage">
    <wsdl:part name="parameters" element="tns:CryptBMPResponse" />
  </wsdl:message>
  <wsdl:message name="IRSA_DecryptBMP_InputMessage">
    <wsdl:part name="parameters" element="tns:DecryptBMP" />
  </wsdl:message>
  <wsdl:message name="IRSA_DecryptBMP_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptBMPResponse" />
  </wsdl:message>
  <wsdl:portType name="IRSA">
    <wsdl:operation name="Crypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSA/Crypt" message="tns:IRSA_Crypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSA/CryptResponse" message="tns:IRSA_Crypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Calculate">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSA/Calculate" message="tns:IRSA_Calculate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSA/CalculateResponse" message="tns:IRSA_Calculate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSA/Decrypt" message="tns:IRSA_Decrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSA/DecryptResponse" message="tns:IRSA_Decrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMinimalDivider">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSA/GetMinimalDivider" message="tns:IRSA_GetMinimalDivider_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSA/GetMinimalDividerResponse" message="tns:IRSA_GetMinimalDivider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CryptBMP">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSA/CryptBMP" message="tns:IRSA_CryptBMP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSA/CryptBMPResponse" message="tns:IRSA_CryptBMP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DecryptBMP">
      <wsdl:input wsaw:Action="http://tempuri.org/IRSA/DecryptBMP" message="tns:IRSA_DecryptBMP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRSA/DecryptBMPResponse" message="tns:IRSA_DecryptBMP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRSA" type="tns:IRSA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Crypt">
      <soap:operation soapAction="http://tempuri.org/IRSA/Crypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Calculate">
      <soap:operation soapAction="http://tempuri.org/IRSA/Calculate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap:operation soapAction="http://tempuri.org/IRSA/Decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMinimalDivider">
      <soap:operation soapAction="http://tempuri.org/IRSA/GetMinimalDivider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CryptBMP">
      <soap:operation soapAction="http://tempuri.org/IRSA/CryptBMP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptBMP">
      <soap:operation soapAction="http://tempuri.org/IRSA/DecryptBMP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RSA">
    <wsdl:port name="BasicHttpBinding_IRSA" binding="tns:BasicHttpBinding_IRSA">
      <soap:address location="http://localhost:65348/RSA.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>