ZI_WCF_DarkoStosic16413/DarkoStosic_ZI/DarkoStosic_ZI/Connected Services/ServiceReference3/A51.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="A51" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65348/A51.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65348/A51.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IA51_LoadKey_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadKey" />
  </wsdl:message>
  <wsdl:message name="IA51_LoadKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IA51_LoadKeyParts_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadKeyParts" />
  </wsdl:message>
  <wsdl:message name="IA51_LoadKeyParts_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadKeyPartsResponse" />
  </wsdl:message>
  <wsdl:message name="IA51_LoadStepBits_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadStepBits" />
  </wsdl:message>
  <wsdl:message name="IA51_LoadStepBits_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadStepBitsResponse" />
  </wsdl:message>
  <wsdl:message name="IA51_LoadVoteBits_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadVoteBits" />
  </wsdl:message>
  <wsdl:message name="IA51_LoadVoteBits_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadVoteBitsResponse" />
  </wsdl:message>
  <wsdl:message name="IA51_EncodeByte_InputMessage">
    <wsdl:part name="parameters" element="tns:EncodeByte" />
  </wsdl:message>
  <wsdl:message name="IA51_EncodeByte_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncodeByteResponse" />
  </wsdl:message>
  <wsdl:message name="IA51_Encode2Bytes_InputMessage">
    <wsdl:part name="parameters" element="tns:Encode2Bytes" />
  </wsdl:message>
  <wsdl:message name="IA51_Encode2Bytes_OutputMessage">
    <wsdl:part name="parameters" element="tns:Encode2BytesResponse" />
  </wsdl:message>
  <wsdl:message name="IA51_ByteArrayOfBitsToByte_InputMessage">
    <wsdl:part name="parameters" element="tns:ByteArrayOfBitsToByte" />
  </wsdl:message>
  <wsdl:message name="IA51_ByteArrayOfBitsToByte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ByteArrayOfBitsToByteResponse" />
  </wsdl:message>
  <wsdl:message name="IA51_ShiftRightAndInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:ShiftRightAndInsert" />
  </wsdl:message>
  <wsdl:message name="IA51_ShiftRightAndInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShiftRightAndInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IA51_FromUIntToByteArrayOfBits_InputMessage">
    <wsdl:part name="parameters" element="tns:FromUIntToByteArrayOfBits" />
  </wsdl:message>
  <wsdl:message name="IA51_FromUIntToByteArrayOfBits_OutputMessage">
    <wsdl:part name="parameters" element="tns:FromUIntToByteArrayOfBitsResponse" />
  </wsdl:message>
  <wsdl:message name="IA51_ResetRegisters_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetRegisters" />
  </wsdl:message>
  <wsdl:message name="IA51_ResetRegisters_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetRegistersResponse" />
  </wsdl:message>
  <wsdl:message name="IA51_IsInitialized_InputMessage">
    <wsdl:part name="parameters" element="tns:IsInitialized" />
  </wsdl:message>
  <wsdl:message name="IA51_IsInitialized_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsInitializedResponse" />
  </wsdl:message>
  <wsdl:portType name="IA51">
    <wsdl:operation name="LoadKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IA51/LoadKey" message="tns:IA51_LoadKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA51/LoadKeyResponse" message="tns:IA51_LoadKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadKeyParts">
      <wsdl:input wsaw:Action="http://tempuri.org/IA51/LoadKeyParts" message="tns:IA51_LoadKeyParts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA51/LoadKeyPartsResponse" message="tns:IA51_LoadKeyParts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadStepBits">
      <wsdl:input wsaw:Action="http://tempuri.org/IA51/LoadStepBits" message="tns:IA51_LoadStepBits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA51/LoadStepBitsResponse" message="tns:IA51_LoadStepBits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadVoteBits">
      <wsdl:input wsaw:Action="http://tempuri.org/IA51/LoadVoteBits" message="tns:IA51_LoadVoteBits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA51/LoadVoteBitsResponse" message="tns:IA51_LoadVoteBits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EncodeByte">
      <wsdl:input wsaw:Action="http://tempuri.org/IA51/EncodeByte" message="tns:IA51_EncodeByte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA51/EncodeByteResponse" message="tns:IA51_EncodeByte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Encode2Bytes">
      <wsdl:input wsaw:Action="http://tempuri.org/IA51/Encode2Bytes" message="tns:IA51_Encode2Bytes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA51/Encode2BytesResponse" message="tns:IA51_Encode2Bytes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ByteArrayOfBitsToByte">
      <wsdl:input wsaw:Action="http://tempuri.org/IA51/ByteArrayOfBitsToByte" message="tns:IA51_ByteArrayOfBitsToByte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA51/ByteArrayOfBitsToByteResponse" message="tns:IA51_ByteArrayOfBitsToByte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShiftRightAndInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IA51/ShiftRightAndInsert" message="tns:IA51_ShiftRightAndInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA51/ShiftRightAndInsertResponse" message="tns:IA51_ShiftRightAndInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FromUIntToByteArrayOfBits">
      <wsdl:input wsaw:Action="http://tempuri.org/IA51/FromUIntToByteArrayOfBits" message="tns:IA51_FromUIntToByteArrayOfBits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA51/FromUIntToByteArrayOfBitsResponse" message="tns:IA51_FromUIntToByteArrayOfBits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetRegisters">
      <wsdl:input wsaw:Action="http://tempuri.org/IA51/ResetRegisters" message="tns:IA51_ResetRegisters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA51/ResetRegistersResponse" message="tns:IA51_ResetRegisters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsInitialized">
      <wsdl:input wsaw:Action="http://tempuri.org/IA51/IsInitialized" message="tns:IA51_IsInitialized_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA51/IsInitializedResponse" message="tns:IA51_IsInitialized_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IA51" type="tns:IA51">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadKey">
      <soap:operation soapAction="http://tempuri.org/IA51/LoadKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadKeyParts">
      <soap:operation soapAction="http://tempuri.org/IA51/LoadKeyParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadStepBits">
      <soap:operation soapAction="http://tempuri.org/IA51/LoadStepBits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadVoteBits">
      <soap:operation soapAction="http://tempuri.org/IA51/LoadVoteBits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncodeByte">
      <soap:operation soapAction="http://tempuri.org/IA51/EncodeByte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encode2Bytes">
      <soap:operation soapAction="http://tempuri.org/IA51/Encode2Bytes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByteArrayOfBitsToByte">
      <soap:operation soapAction="http://tempuri.org/IA51/ByteArrayOfBitsToByte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShiftRightAndInsert">
      <soap:operation soapAction="http://tempuri.org/IA51/ShiftRightAndInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FromUIntToByteArrayOfBits">
      <soap:operation soapAction="http://tempuri.org/IA51/FromUIntToByteArrayOfBits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetRegisters">
      <soap:operation soapAction="http://tempuri.org/IA51/ResetRegisters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsInitialized">
      <soap:operation soapAction="http://tempuri.org/IA51/IsInitialized" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="A51">
    <wsdl:port name="BasicHttpBinding_IA51" binding="tns:BasicHttpBinding_IA51">
      <soap:address location="http://localhost:65348/A51.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>