rezerva 3 zi/ZI_WCF_DarkoStosic16413/DarkoStosic_ZI/DarkoStosic_ZI/Connected Services/ServiceReference3/A511.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LoadKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadKeyParts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xSeed" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="ySeed" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="zSeed" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadKeyPartsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadKeyPartsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadStepBits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xsb" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="ysb" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="zsb" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadStepBitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadStepBitsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadVoteBits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xvb" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="yvb" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="zvb" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadVoteBitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadVoteBitsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncodeByte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncodeByteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncodeByteResult" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Encode2Bytes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Encode2BytesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Encode2BytesResult" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ByteArrayOfBitsToByte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ba" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ByteArrayOfBitsToByteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ByteArrayOfBitsToByteResult" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShiftRightAndInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="array" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="insertValue" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShiftRightAndInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShiftRightAndInsertResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FromUIntToByteArrayOfBits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="array" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="seed" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FromUIntToByteArrayOfBitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromUIntToByteArrayOfBitsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetRegisters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetRegistersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsInitialized">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsInitializedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsInitializedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>