rezerva 3 zi/ZI_WCF_DarkoStosic16413/DarkoStosic_ZI/DarkoStosic_ZI/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65348/PlayfairCipher.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65348/PlayfairCipher.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65348/PlayfairCipher.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlayfairCipher_Mod_InputMessage">
    <wsdl:part name="parameters" element="tns:Mod" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_Mod_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_FindAllOccurrences_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllOccurrences" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_FindAllOccurrences_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllOccurrencesResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_RemoveAllDuplicates_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAllDuplicates" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_RemoveAllDuplicates_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAllDuplicatesResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_GenerateKeySquare_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateKeySquare" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_GenerateKeySquare_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateKeySquareResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_GetPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPosition" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_GetPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_SameRow_InputMessage">
    <wsdl:part name="parameters" element="tns:SameRow" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_SameRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:SameRowResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_SameColumn_InputMessage">
    <wsdl:part name="parameters" element="tns:SameColumn" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_SameColumn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SameColumnResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_SameRowColumn_InputMessage">
    <wsdl:part name="parameters" element="tns:SameRowColumn" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_SameRowColumn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SameRowColumnResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_DifferentRowColumn_InputMessage">
    <wsdl:part name="parameters" element="tns:DifferentRowColumn" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_DifferentRowColumn_OutputMessage">
    <wsdl:part name="parameters" element="tns:DifferentRowColumnResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_RemoveOtherChars_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOtherChars" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_RemoveOtherChars_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOtherCharsResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_AdjustOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:AdjustOutput" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_AdjustOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdjustOutputResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_Cipher_InputMessage">
    <wsdl:part name="parameters" element="tns:Cipher" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_Cipher_OutputMessage">
    <wsdl:part name="parameters" element="tns:CipherResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_Encipher_InputMessage">
    <wsdl:part name="parameters" element="tns:Encipher" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_Encipher_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncipherResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_Decipher_InputMessage">
    <wsdl:part name="parameters" element="tns:Decipher" />
  </wsdl:message>
  <wsdl:message name="IPlayfairCipher_Decipher_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecipherResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlayfairCipher">
    <wsdl:operation name="Mod">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayfairCipher/Mod" message="tns:IPlayfairCipher_Mod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayfairCipher/ModResponse" message="tns:IPlayfairCipher_Mod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllOccurrences">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayfairCipher/FindAllOccurrences" message="tns:IPlayfairCipher_FindAllOccurrences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayfairCipher/FindAllOccurrencesResponse" message="tns:IPlayfairCipher_FindAllOccurrences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAllDuplicates">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayfairCipher/RemoveAllDuplicates" message="tns:IPlayfairCipher_RemoveAllDuplicates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayfairCipher/RemoveAllDuplicatesResponse" message="tns:IPlayfairCipher_RemoveAllDuplicates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateKeySquare">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayfairCipher/GenerateKeySquare" message="tns:IPlayfairCipher_GenerateKeySquare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayfairCipher/GenerateKeySquareResponse" message="tns:IPlayfairCipher_GenerateKeySquare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayfairCipher/GetPosition" message="tns:IPlayfairCipher_GetPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayfairCipher/GetPositionResponse" message="tns:IPlayfairCipher_GetPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SameRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayfairCipher/SameRow" message="tns:IPlayfairCipher_SameRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayfairCipher/SameRowResponse" message="tns:IPlayfairCipher_SameRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SameColumn">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayfairCipher/SameColumn" message="tns:IPlayfairCipher_SameColumn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayfairCipher/SameColumnResponse" message="tns:IPlayfairCipher_SameColumn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SameRowColumn">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayfairCipher/SameRowColumn" message="tns:IPlayfairCipher_SameRowColumn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayfairCipher/SameRowColumnResponse" message="tns:IPlayfairCipher_SameRowColumn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DifferentRowColumn">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayfairCipher/DifferentRowColumn" message="tns:IPlayfairCipher_DifferentRowColumn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayfairCipher/DifferentRowColumnResponse" message="tns:IPlayfairCipher_DifferentRowColumn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveOtherChars">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayfairCipher/RemoveOtherChars" message="tns:IPlayfairCipher_RemoveOtherChars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayfairCipher/RemoveOtherCharsResponse" message="tns:IPlayfairCipher_RemoveOtherChars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdjustOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayfairCipher/AdjustOutput" message="tns:IPlayfairCipher_AdjustOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayfairCipher/AdjustOutputResponse" message="tns:IPlayfairCipher_AdjustOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cipher">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayfairCipher/Cipher" message="tns:IPlayfairCipher_Cipher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayfairCipher/CipherResponse" message="tns:IPlayfairCipher_Cipher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Encipher">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayfairCipher/Encipher" message="tns:IPlayfairCipher_Encipher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayfairCipher/EncipherResponse" message="tns:IPlayfairCipher_Encipher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Decipher">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayfairCipher/Decipher" message="tns:IPlayfairCipher_Decipher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayfairCipher/DecipherResponse" message="tns:IPlayfairCipher_Decipher_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPlayfairCipher" type="tns:IPlayfairCipher">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Mod">
      <soap:operation soapAction="http://tempuri.org/IPlayfairCipher/Mod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllOccurrences">
      <soap:operation soapAction="http://tempuri.org/IPlayfairCipher/FindAllOccurrences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAllDuplicates">
      <soap:operation soapAction="http://tempuri.org/IPlayfairCipher/RemoveAllDuplicates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateKeySquare">
      <soap:operation soapAction="http://tempuri.org/IPlayfairCipher/GenerateKeySquare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPosition">
      <soap:operation soapAction="http://tempuri.org/IPlayfairCipher/GetPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SameRow">
      <soap:operation soapAction="http://tempuri.org/IPlayfairCipher/SameRow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SameColumn">
      <soap:operation soapAction="http://tempuri.org/IPlayfairCipher/SameColumn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SameRowColumn">
      <soap:operation soapAction="http://tempuri.org/IPlayfairCipher/SameRowColumn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DifferentRowColumn">
      <soap:operation soapAction="http://tempuri.org/IPlayfairCipher/DifferentRowColumn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveOtherChars">
      <soap:operation soapAction="http://tempuri.org/IPlayfairCipher/RemoveOtherChars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdjustOutput">
      <soap:operation soapAction="http://tempuri.org/IPlayfairCipher/AdjustOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cipher">
      <soap:operation soapAction="http://tempuri.org/IPlayfairCipher/Cipher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encipher">
      <soap:operation soapAction="http://tempuri.org/IPlayfairCipher/Encipher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decipher">
      <soap:operation soapAction="http://tempuri.org/IPlayfairCipher/Decipher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IPlayfairCipher" binding="tns:BasicHttpBinding_IPlayfairCipher">
      <soap:address location="http://localhost:65348/PlayfairCipher.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>