DarkoStosic_ZI/DarkoStosic_ZI/Connected Services/ServiceReference4/SHA2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65348/SHA2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFZI" />
  <xs:element name="DBL_INT_ADD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="b" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="c" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DBL_INT_ADDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="b" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROTLEFT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="b" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROTLEFTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ROTLEFTResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROTRIGHT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="b" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROTRIGHTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ROTRIGHTResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="y" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="z" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MAJ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="y" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="z" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MAJResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MAJResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EP0">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EP0Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EP0Result" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EP1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EP1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EP1Result" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SIG0">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SIG0Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SIG0Result" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SIG1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SIG1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SIG1Result" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SHA2Transform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFZI" minOccurs="0" name="ctx" type="q1:SHA2_CTX" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SHA2TransformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFZI" minOccurs="0" name="ctx" type="q2:SHA2_CTX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SHA2Init">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFZI" minOccurs="0" name="ctx" type="q3:SHA2_CTX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SHA2InitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFZI" minOccurs="0" name="ctx" type="q4:SHA2_CTX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SHA2Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFZI" minOccurs="0" name="ctx" type="q5:SHA2_CTX" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="len" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SHA2UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFZI" minOccurs="0" name="ctx" type="q6:SHA2_CTX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SHA2Final">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFZI" minOccurs="0" name="ctx" type="q7:SHA2_CTX" />
        <xs:element minOccurs="0" name="hash" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SHA2FinalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFZI" minOccurs="0" name="ctx" type="q8:SHA2_CTX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SHA2Calculate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SHA2CalculateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SHA2CalculateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>