DarkoStosic_ZI/DarkoStosic_ZI/Connected Services/ServiceReference2/RSA2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Crypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="M" type="xs:int" />
        <xs:element minOccurs="0" name="e" type="xs:int" />
        <xs:element minOccurs="0" name="N" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CryptResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Calculate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startValue" type="xs:int" />
        <xs:element minOccurs="0" name="eksp" type="xs:int" />
        <xs:element minOccurs="0" name="N" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Decrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="C" type="xs:int" />
        <xs:element minOccurs="0" name="d" type="xs:int" />
        <xs:element minOccurs="0" name="N" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecryptResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinimalDivider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinimalDividerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMinimalDividerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CryptBMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="odredisni" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="e" type="xs:int" />
        <xs:element minOccurs="0" name="N" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CryptBMPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptBMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="odredisni" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="e" type="xs:int" />
        <xs:element minOccurs="0" name="N" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptBMPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>