ZI_WCF_DarkoStosic16413/DarkoStosic_ZI/DarkoStosic_ZI/Connected Services/ServiceReference4/SHA22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFZI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFZI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65348/SHA2.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:65348/SHA2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SHA2_CTX">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bitlen" nillable="true" type="q1:ArrayOfunsignedInt" />
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="datalen" type="xs:unsignedInt" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="state" nillable="true" type="q2:ArrayOfunsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SHA2_CTX" nillable="true" type="tns:SHA2_CTX" />
</xs:schema>